In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
main_data = pd.read_excel("C:/Users/Asus/CSE477 project/market_basket_1.xlsx")

In [2]:
pd.set_option('display.max_colwidth', 199)
pd.set_option('display.max_columns', 20)  # or 1000
pd.set_option('display.max_rows', 100)  # or 1000

In [3]:
main_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
main_data.shape

(541909, 8)

In [5]:
clean_data = main_data

clean_data.dropna(axis=0, subset=['Description'], inplace=True)
clean_data = (clean_data[clean_data['Quantity'] > 0])
clean_data = (clean_data[clean_data['UnitPrice'] > 0])

unusual_string = ["POSTAGE", "Bank Charges", "Manual", "check", "CARRIAGE", "damaged", 
                  "damages", "Next Day Carriage", "MISSING", "found", "wet pallet", "PACKING CHARGE", 
                  "dotcom", "SAMPLES", "Discount", "barcode", "adjustment", "AMAZON"]

for x in unusual_string:
    clean_data = clean_data[~clean_data['Description'].str.contains(x)]
    
clean_data.shape

(527606, 8)

In [6]:
clean_data['Country'].value_counts()

United Kingdom          483859
Germany                   8658
France                    8099
EIRE                      7774
Spain                     2422
Netherlands               2322
Switzerland               1935
Belgium                   1935
Portugal                  1464
Australia                 1181
Norway                    1048
Channel Islands            744
Italy                      741
Finland                    647
Cyprus                     612
Unspecified                446
Sweden                     428
Austria                    384
Denmark                    367
Poland                     325
Japan                      321
Israel                     295
Hong Kong                  279
Singapore                  215
Iceland                    182
USA                        179
Canada                     149
Greece                     142
Malta                      109
United Arab Emirates        67
RSA                         57
European Community          57
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              24
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64